.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: #4ECCA3;
}


p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  font-size: 1rem;

}
.fa-heart{
  color: red;
}
.reset-btn{
  text-align: center;
  margin-top: 1rem;
}
#button-reset{
  cursor: pointer;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  border-radius: 10px;
  background-color: black;
  border-color: white;
  color: white;
}
#button-reset:hover{
  background-color: white;
  border-color: black;
  color: black;
}
.user-name{
  font-weight: bolder;
}
